.topContainer{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.header{
    font-size: 80px;
}
.subHeader{
    font-size: 56px;
    text-align:center;
}
.content{
    font-size: 36px;
    padding-top: 3%;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
}
.resumeLink{
    display: flex;
    padding-top: 5%;
    font-size: 36px;
    color: black;
    font-family: 'Quicksand', sans-serif;
}
.resumeLink:visited{
    color: black;
}
.workLink{
    display: flex;
    padding-top: 35%;
    font-size: 36px;
    color: black;
    font-family: 'Quicksand', sans-serif;
}
.workLink:visited{
    color: black;
    font-family: 'Quicksand', sans-serif;
}
.been{
    font-size: 64px;
    margin-left: 2%;
    margin-top: 8%;
}
.heading{
    font-size: 64px;
    float: right;
    margin-right: 2%;
}
.imageContainer{
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.art{
    margin-top: 2%;
    margin-bottom: 2%;
}
.bottom{
    clear: both;
    padding-top: 8%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.bottomRight{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: -8%;
}

/* hero page */
.container{
    background-color: white;
    overflow: hidden; 
}
.wrapper{
    /* height: -moz-calc(100vh - 180px);
    height: -webkit-calc(100vh - 180px);
    height: calc(100vh - (180px)); */
    background-color: white;
}
.titleSection{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.titleText{
    font-family: "ivymode", sans-serif;
    font-size: 56px;
    font-weight: 400;
}

.waveSection{
    width: 100%;
    display: flex;
    position: fixed;
    bottom: -2vw;
    justify-content: center;
}
.waveContainer1{
    margin-top: 39vw;
    height: 13vw;
    width: 13vw;
}
.waveContainer2{
    opacity: 0;
    animation: fadeInAnimation linear 0.1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    margin-top: 26vw;
    height: 26vw;
    width: 26vw;
    margin-left: -5px;
}
.waveContainer3{
    opacity: 0;
    animation: fadeInAnimation linear 0.1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    margin-top: 13vw;
    height: 39vw;
    width: 39vw;
    margin-left: -10px;
}
.waveContainer4{
    opacity: 0;
    animation: fadeInAnimation linear 0.1s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    height: 52vw;
    width: 52vw;
    margin-left: -20px;
}
.waveContainer{
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

.waveContent{
    width: 100%;
    height: 5%;
    background-color: #55acee;
    top: 92%;
    position: relative;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}